/*-----------------
        Fonts 
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/*-----------------
    Common CSS 
------------------*/
p{
    color: #E0E0E0;
}

/*-------------------
    Custom styles 
--------------------*/
.honda-bg-info{
    background-color: #264653;
}
.honda-btn{
    color: #FFFFFF;
    background-color: #E76F51;
    width: 168px;
    height: 44px;
    border: none;
    font-weight: 500px;
    border-radius: 5px;
}
#best-bike{
    color: #E76F51;
}
.gray-img{
    filter: grayscale(1);
}
/*-------------------
    Clients Styles 
--------------------*/
span{
    color: #E76F51;
}
.card-user{
    width: 322px;

}
.user-image{
    width: 149px;
    height: 149px;
}
.card-text{
    color: #6C6C6C;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.emty{
    color: #AEAEAE;
}
/*-------------------
    FAQ Styles 
--------------------*/
.faq-image{
    width: 425px;
}


